@media (min-width: 1046px) {
  #normal-view {
    display: block;
  }
  #mobile-view {
    display: none;
  }
}
@media (max-width: 1045px) {
  #normal-view {
    display: none;
  }
  #mobile-view {
    display: block;
  }
  .info {
    text-align: center;
    width: 100%;
  }
  .snapshot {
    width: 85%;
  }
}