body {
  margin: 0;
  background-color: ;
}
body, h1, h2, h3, h4, p {
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

nav {
  background-color: #93c178;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
  border-bottom: 2px solid #465c8b;
  color: white;
}

header {
  padding-top: 100px;
}

section.dark-back {
  background-color: #465c8b;
  color: #e6e6e6;
}

#name {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 200;
  -webkit-transition-property: color; /* Safari */
  -webkit-transition-duration: .2s; /* Safari */
  transition-property: color;
  transition-duration: .2s;
  margin: 0;
}

#name:hover {
  color: #465c8b;
}

#portfolio-img {
  width: 200px;
  display: block;
  border-radius: 10%;
  margin: 0 auto;
}

.container {
  padding-top: 1.875em;
}

.section-title {
  font-size: 40px;
  color: #93c178;
}

.text-center {
  text-align: center;
}

.home-name {
  cursor: pointer;
}

.home-name h3, .home-name p {
  margin: 0;
}

.inline-display {
  display: inline-block;
}

.social {
  position: absolute;
  right: 9.375em;
  top: 1.5em;
}

.social-link {
  margin-left: 3.750em;
}

.fa {
  -webkit-transition-property: font-size; /* Safari */
  -webkit-transition-duration: .2s; /* Safari */
  transition-property: font-size;
  transition-duration: .2s;
}

.fa-size {
  font-size: 30px !important;
}
.social .fa:hover {
  color: #465c8b;
  font-size: 35px !important;
}
.fa-github-alt {
  cursor: pointer;
  color: white;
  position: fixed;
}
.fa-linkedin-square {
  cursor: pointer;
  color: white;
  position: fixed;
}
.fa-envelope {
  cursor: pointer;
  color: white;
  position: fixed;
}
.self-bio {
  margin: 11.250em 0.625em;
}
.self-bio p {
  margin: 10px auto;
  color: #808080;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

p.info-highlight {
  color: #cf6766 !important;
}

.project-container {
  padding: 1.250em;
  margin: 0 auto;
  display: block;
  position: relative;
}

.project-img {
  width: 100%;
}
.snapshot {
  width: 500px;
  text-align: right;
}

.info {
  width: 30%;
  font-size: 1.250em;;
  text-align: left;
  margin-right: 3.125em;
  vertical-align: top;
}