body {
  margin: 0;
}

body, h1, h2, h3, h4, p {
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

nav {
  background-color: #ffaa80;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
  opacity: 0.9;
}

header {
  padding-top: 4.5125em;
}

footer {
  background-color: #ffaa80;
  padding: 30px;
  margin: 0;
  color: white;
}

section.recent-projects {
  background-color: white;
  color: #737373;
}

section.past-projects {
  background-color: #e6e6e6;
  color: #737373;
}

button {
  background-color: #cf6766;
  border: transparent;
  border-radius: 10px;
  padding: 7px 40px;
  cursor: pointer;
  font-size: 0.938em;
  color: white;
  -webkit-transition-property: background-color; /* Safari */
  -webkit-transition-duration: .2s; /* Safari */
  transition-property: background-color;
  transition-duration: .2s;
}

button:hover {
  background-color: #ff5050;
}

img {
  margin-top: 20px;
  width: 140px;
  border-radius: 10px;
  opacity: 0.9;
}

#btn-resume {
  padding-top: 20px;
  display: block;
}

#name {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 200;
  -webkit-transition-property: color; /* Safari */
  -webkit-transition-duration: .2s; /* Safari */
  transition-property: color;
  transition-duration: .2s;
  margin: 0;
}

#name:hover {
  color: #2952a3;
}

#portfolio-img {
  width: 200px;
  display: block;
  border-radius: 10%;
  margin: 0 auto;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.container {
  padding-top: 1.875em;
}

.bio-container {
  padding-top: 1.875em;
  height: 100%;
  background: url("images/header.jpg") no-repeat;
  background-size: 100% 100%;
}

.section-title {
  font-size: 40px;
  color: #cf6766;
}

.text-center {
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

.home-name {
  cursor: pointer;
}

.home-name h3, .home-name p {
  margin: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.inline-display {
  display: inline-block;
}

.social {
  position: absolute;
  right: 9.375em;
  top: 1.5em;
}

.social-link {
  margin-left: 3.750em;
}

.footer-title {
  color: #595959;
}

.fa {
  -webkit-transition-property: font-size; /* Safari */
  -webkit-transition-duration: .2s; /* Safari */
  transition-property: font-size;
  transition-duration: .2s;
}

.fa-size {
  font-size: 30px !important;
}
.social .fa:hover {
  color: #ff5050;
  font-size: 35px !important;
}
.fa-github-alt {
  cursor: pointer;
  color: #595959;
  position: fixed;
}
.fa-linkedin-square {
  cursor: pointer;
  color: #595959;
  position: fixed;
}
.fa-envelope {
  cursor: pointer;
  color: #595959;
  position: fixed;
}
.self-bio {
  margin: 11.250em 0.625em;
}
.self-bio p, .self-bio a {
  margin: 10px auto;
  color: #f2f2f2;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.resume-link {
  padding-top: 20px;
  display: block;
}

.info-highlight {
  color: #cf6766 !important;
}

.project-container {
  padding: 1.250em 1.250em 2em 1.250em;
  margin: 0 auto;
  display: block;
  position: relative;
}

.project-img {
  width: 100%;
}

.project-link {
  border-radius: 3%;
}

.project-title {
  font-weight: 600;
  font-size: 1.4375em;
  color: #cf6766;
}

.snapshot {
  width: 640px;
  text-align: right;
}

.info {
  width: 30%;
  font-size: 1.1em;;
  text-align: left;
  margin-right: 3.125em;
  vertical-align: top;
}

.info p {
  margin: 10px 0;
}

.footer-content {
    margin: 0 auto;
    width: 700px;
}